table {
    border:ridge black 2px;
    min-width:75%;
}

thead {
    font: 14px/16px "Times New Roman", serif;
    font-weight: bolder;
    vertical-align:middle;
}

thead th {
    vertical-align:middle;
    width:auto;
    border:ridge black 2px;
    background-color: white;
}

tfoot td {
    background-color: white;
    color: black;
}

td {
    text-align:left;
    border:ridge black 2px;
}

tr:nth-child(odd) {
    background-color:lightgreen;
}

tr:nth-child(even) {
    background-color:lightblue;
}

tr td:nth-child(0) {
    font-style: italic;
}

tr td:nth-child(2) {
    color:red;
}   

tr td:nth-child(4) {
    color:blue;
}

dt:hover + dd {
    background-color:purple;
}

form {
    width:700px;
    padding:1em;
    margin:1px;
}

input {
    margin:10px;
}

fieldset {
    border:2px solid #CCC;
    margin:10px;
}

div.outer-content {
    height: auto;
    margin-top: 20px;
    background-color: pink;
    width:75%;
}

div.inner-content {
    margin-bottom: 20px;
    margin-top: 20px;
    margin-left: 13%;
    margin-right: 12%;
    vertical-align: center;
    text-align: center;
    background-color: blue;
    color:white;
    width:75%;
}

img {
    float:left;
    height: 125px;
    width: 100px;
}
